flows.json
[{"id":"16c49856.5a2c28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"22f29cbd.4b4d94","type":"http in","z":"16c49856.5a2c28","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":190,"y":120,"wires":[["d0f07c82.50b6f"]]},{"id":"d0f07c82.50b6f","type":"template","z":"16c49856.5a2c28","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <script>\n  window.watsonAssistantChatOptions = {\n      integrationID: \"7b422ca7-6aa4-4d24-8f02-b83575c3fdfa\", // The ID of this integration.\n      region: \"us-south\", // The region your integration is hosted in.\n      serviceInstanceID: \"d9551572-cfd4-4eea-aacb-ae15f0d82ea1\", // The ID of your service instance.\n      onLoad: function(instance) { instance.render(); }\n    };\n  setTimeout(function(){\n    const t=document.createElement('script');\n    t.src=\"https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js\";\n    document.head.appendChild(t);\n  });\n</script>\n</head>\n<body style=\"background-color: powderblue;\">\n    <h1 style=\"text-align: center;\">Welcome to our store.</h1>\n    <h2>Today, because of social distancing and other issues it can be risky for you to shop for essential items in person.Our chatbot will help you to order essentials during this pandemic</h2>\n    <p>For further queries contact us at +917034189756</p>\n</body>","output":"str","x":410,"y":120,"wires":[["64e9cde7.cf8b84"]]},{"id":"64e9cde7.cf8b84","type":"http response","z":"16c49856.5a2c28","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]}]